<%- include('includes/_header') %>

<!--Mensaje de notificación-->
<% if (info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<div class="columns">
<!--Manda a llamar nuestro arreglo actualizado de animales-->
<% for(let animal of animales) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <!--Aqui manda a llamar al los nomres de los objetos de los animales-->
                    <!--<%= animal.nombre %>-->
                    <a href="/zoo/<%= animal.id %>"><%= animal.nombre %></a>
                    <p><%= animal.created_at %></p>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>
<%- include('includes/_footer') %>